.Home {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    min-height: 100vh; /* Ensure the entire screen height is covered */
  }
  
  .content {
    flex: 1; /* Push the footer to the bottom if content is short */
    display: flex; /* Add flexbox to center the content */
    flex-direction: column; /* Stack text and movie carousel vertically */
    justify-content: center; /* Vertically center the content */
    align-items: center; /* Horizontally center the content */
    width: 100%;
    padding-top:2%
  }
  
  footer {
    flex-shrink: 0; /* Ensure the footer doesn't shrink or collapse */
  }
  