.moviedetailspage{
}

.maincontent{
    min-height: 80vh;
}

.movieinfo{
    margin-top: 2em;
    margin-left:0.5em;
    margin-right:0.5em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1em;
}

.postercontainer{
    display:inline-block;
    width: 200px;
    overflow: hidden;
}

.postercontainer img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.movieinfotext{
    display: inline-block;
    max-width: 500px;
}

.reviewcard{
    background-color: var(--container-bg-color);
    color: var(--text-color);
    margin-top: 0.5em;
    border-radius: 5px;
    padding: 1em
}
.moviereviews {
    margin-left: 2em;
    margin-right: 2em;
}

.reviewsubmit {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 5px;
    padding: 1em;
    background-color: var(--container-bg-color);
    color: var(--text-color);
}
.star-button {
    border: none;
    background:none;
    font-size: 2em;
    
}
.reviewsubmit .reviewinput{
    width:80%;
    height: 10em;
    display: block;
    resize: none;

}
.reviewsubmitbutton{
    background-color: #333;
    color: #f2f2f2;
    border: none;
    padding: 0.3em;
    border-radius: 2px;
    height: 1.8em;
    margin-top: 0.3em;
}
.reviewsubmitbutton:hover{
    background-color: #444;
    cursor: pointer;
}

