.moviedetailspage{
}

.maincontent{
    min-height: 80vh;
}

.movieinfo{
    margin-top: 2em;
    border: solid red;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.postercontainer{
    display:inline-block;
    width: 200px;
    overflow: hidden;
    border: solid red;
}

.postercontainer img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.movieinfotext{
    display: inline-block;
    border: solid red;
}