.moviesearchfield {
    padding: 8px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 4px;
    outline: none;
    display: inline-block;
    min-width: 300px;
    margin-left: 10px;
    margin-right: 10px;
  }

.MovieSearch .moviesearchfield{
  width: 90vh;
} 
.MovieSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.MovieSearch button {
  font-size: 1.54em;
  padding: 0px;
  height: 100%;
}
.MovieFilters{
  margin-bottom: 10px;
}
.MovieResults{
  margin-left: auto;
  margin-right: auto;
  display:flex;
  flex-wrap: wrap;
  gap: 5px;
}
.activegenrebutton{
  background-color: #333;
  border: none;
  color: #f2f2f2;
  font-size: 0.8em;
  padding: 0.3em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 10px;
  margin-left: 1px;
  border-radius: 9px;
}

.activegenrebutton:hover{
  cursor: pointer;
  background-color: #444;
}


