.LogOutButton  {
    background-color: #797979;
    color: #fff;
    border-radius: 9px;
    border: none;
    font-size: 0.8em;
    padding: 0.3em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.LogOutButton:hover  {
    cursor: pointer;
    background-color: #444;
}