.delete-group-button {
    bottom: 50%; 
    right: 10%; 
    background-color: red;
    color: white;
    padding: 40px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 100;
    position: absolute;
  }
  .delete-group-button:hover {
    background-color: darkred;
   }