 .delete-group-button { 
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: red;
  color: white;
  padding: 30px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top:10px;
  max-width: 100px;
  }
  .delete-group-button:hover {
    background-color: darkred;
   } 
   @media only screen and (max-width: 620px) {
    .delete-group-button{
    grid-column-start: 1;
    grid-column-end: 2;
    }
}