.groupDetails{
    display:grid;
    grid-template-columns: 33vw 33vw 32vw;
}
.groupInfo{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}
.memberList{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
}
.highlightList{
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: gray;
    grid-row-start: 2;
}
.requesterList{
    grid-column-start: 1;
    grid-column-end: 2;
}



@media only screen and (max-width: 620px) {
    .groupDetails {
        
        grid-template-columns: auto;
      background-color: lightblue;
    }
    .groupInfo{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: auto;
    }
    .memberList{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: auto;
    }
    .highlightList{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: auto;
    }
    .requesterList{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: auto;
    }

  }
  

